DATABASE_URL=postgresql://postgres:postgres@localhost:5432/food_store

# Con el comando "python -c "import secrets; print(secrets.token_hex(32))" " generamos nuestra secret_key

SECRET_KEY=pa-las-pruebas-lo-tenes-que-cambiar

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=["http://localhost:5173", "http://localhost:5174"]

# Encontralos en "https://www.mercadopago.com.ar/developers/es"

MP_ACCESS_TOKEN= pone-tus-tokens
MP_PUBLIC_KEY= pone-tus-tokens
MP_NOTIFICATION_URL= pone-tus-tokens

# Encontralos en "https://cloudinary.com/"

CLOUDINARY_CLOUD_NAME= pone-tus-tokens
CLOUDINARY_API_KEY= pone-tus-tokens
CLOUDINARY_API_SECRET= pone-tus-tokens